@charset "utf-8";
@media all and (min-width:1200px){
	body{
		position: absolute;
		width: 1200px;
		height: 100%;
		top: 30%;
		left: 25%;
	}
}

@media all and (max-width:1200px){
	body{
		position: absolute;
		width: 1000px;
		height: 100%;
		top: 30%;
		left: 25%;
	}
}

.header{
	background-color: white;
	height: 45px;
	width: 100%;
}

.search{
	position: absolute;
	top:0rem;
	left: 0px;
	width: 80%;
	background-color: white;
}

.container{
	position: absolute;
	top:4.0rem;
	width: 80%;
	height: 200px;
}

.choose{
	position: absolute;
	top:2.0rem;
	left: 0px;
	color: blue;
	height: 1.5rem;

}
.search_button_span{
	height: 1.5rem;
}

.item{
	margin-bottom: 20px;
	height:100px;
	background: #eeeeee;
}

.tab{
	font-family: arial, georgia, verdana, simsun, helvetica, sans-serif;
	font-size: 1.2rem;
	text-decoration: none;
	color: black;	
}

input{
	box-sizing:border-box;
	width: 60%;
	border-width: 1px;
	height: 1.8rem;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	border-color: #647ED9;
}
button{
	position: absolute;
	box-sizing:border-box;
	width: 10%;
	height: 1.8rem;
	left: 60%;
	background-color: #647ED9;
	color: white;
	border-width:1px;
	border-color: #647ED9;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}